<div class="sidebar" [class.opened]="opened">
  <nav class="sidebar-nav">
    <ul class="sidebar__menu">
      <li class="sidebar__menu_item_title"><a routerLink="/dashboard">Твой опросник</a></li>
      <li class="sidebar__menu_item">
        <ul class="sidebar__menu">
          <li class="sidebar__menu_item"><a (click)="gotoFirstIncomplete()">Прогресс <span class="sidebar__menu_item_label">{{ score }} из {{ maximumScore }}</span></a></li>
          <li class="sidebar__menu_item"><a routerLink="/topics">Разделов <span class="sidebar__menu_item_label">{{ selectedTopics.length }}</span></a></li>
          <li class="sidebar__menu_title"><a routerLink="/topics">Выбери разделы</a></li>
        </ul>
      </li>

      <li class="sidebar__menu_item">
        <ul class="sidebar__menu">
          <li class="sidebar__menu_item"><a href="/stories">Истории пользователей</a></li>
          <li class="sidebar__menu_item">
            <ul class="sidebar__menu">
              <li class="sidebar__menu_item"><a href="https://pavel14.typeform.com/to/Op9L7v">Отправь свою историю</a></li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="sidebar__menu_item">
        <ul class="sidebar__menu">
          <li class="sidebar__menu_item"><a href="https://github.com/pvolyntsev/skillsgauge">О проекте</a></li>
          <li class="sidebar__menu_item">
            <ul class="sidebar__menu">
              <li class="sidebar__menu_item"><a href="https://github.com/pvolyntsev/skillsgauge/issues/new?labels=bug">Сообщи об ошибке</a></li>
              <li class="sidebar__menu_item"><a href="https://github.com/pvolyntsev/skillsgauge/issues/new?labels=question">Оставь отзыв</a></li>
              <li class="sidebar__menu_item"><a href="https://github.com/pvolyntsev/skillsgauge/issues/new?labels=enhancement">Предложи идею</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="sidebar__share">
      <li class="sidebar__share_item_title">Поделись</li>
      <li class="sidebar__share_buttons">
        <share-buttons
          [include]="['copy','facebook','twitter','google','vk']"
          [show]="5"
          [showIcon]="true"
          [showText]="true"
          [url]="share_url"
          ></share-buttons>
      </li>
      <li class="sidebar__share_item_title"><a href="https://github.com/pvolyntsev/skillsgauge/">Поддержи на GitHub</a></li>
      <li class="sidebar__share_item_github">
        <iframe src="https://ghbtns.com/github-btn.html?user=pvolyntsev&repo=skillsgauge&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
        <iframe src="https://ghbtns.com/github-btn.html?user=pvolyntsev&repo=skillsgauge&type=watch&count=true&v=2" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </li>
    </ul>
  </nav>
</div>
