@import "../../../scss/mixins/clearfix";
@import "../../../scss/mixins/opacity";
@import "../../../scss/mixins/box";
@import "../../../scss/variables";

.topic {

  $back-color1: #65b879;
  $back-color2: #48a15d;
  $space-px: $base-padding;
  $space: ($base-padding / $text-size * 1em);
  padding-top: 135px;

  *, *:before, *:after {
    @include box;
  }

  &__share {
    text-align: center;
    margin-bottom: 40px;
  }

  &__footer {
    outline: 0;
    width: 100%;
    background: #c5415f;
    text-decoration: none;
    text-align: center;
    color: #edc6cf;
    @include opacity(0.9);
    position: fixed;
    bottom: 0;
    z-index: 10;
  }

  &__title {
    display: none;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5em;
  }

  &__terms_list {
    width: 100%;
    list-style: none;
    margin: 0;
    padding-left: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $page-background;

    &__item {
      list-style: none;
      width: 50%;
      padding: 0 0.25em;
      display: inline-block;
      overflow: visible;
      margin-bottom: 1.5em;
    }
  }

  // навигация по разделам под страницей опросника
  &__nav {
    width: 100%;
    font-size: 1.5em;
    line-height: 2.25em;
    display: table;
    border-collapse: collapse;

    &_wrapper {
      width: 50%;
      display: table-cell;
      text-align: center;
      border-collapse: collapse;

      a {
        text-decoration: none;
        color: $text-light-color;
        display: block;
        width: 100%;
        height: 100%;
        padding: 12.5px 0;
        clear: both;
      }

      &:first-child {
        border-right: 2px solid #b1314f;
        padding-left: 5px;
      }
      &:last-child {
        border-left: 2px solid #b1314f;
        padding-right: 5px;
      }
    }
  }

  .container {
    width: 960px;
    margin: 0 auto;

    &-content {
      padding-bottom: 80px;
    }
  }

  .icon-prev {
    float: left;
  }

  .icon-next {
    float: right;
  }
}

@media (max-width: 480px) {
  .topic {
    padding-top: 100px;
    &__terms {
      &_list {
        width: 300px;
        margin: 0 auto;
        padding: 0;
        &__item {
          width: 100%;
        }
      }
    }
    &__title {
      display: block;
    }
    .container {
      width: 100%;
      padding: 0 10px;
      &-content {
        padding-bottom: 70px;
      }
    }
  }
}


@media (max-width: 740px) and (min-width: 481px) {
  .topic {
    padding-top: 100px;
    &__terms {
      &_list {
        width: 400px;
        margin: 0 auto;
        padding: 0;
        &__item {
          width: 100%;
        }
      }
    }
    &__title {
      display: block;
    }
    .container {
      width: 100%;
      &-content {
        padding-bottom: 75px;
      }
    }
  }
}

@media (max-width: 960px) and (min-width: 741px) {
  .topic {
    padding-top: 100px;
    &__terms_list {
      width: 400px;
      margin: 0 auto;
      padding: 0;
      &__item {
        width: 100%;
      }
    }
    &__title {
      display: block;
    }
    .container {
      width: 100%;
      &-content {
        padding-bottom: 80px;
      }
    }
  }
}
