<div class="p404">
  <div class="p404__container">
    <div class="p404__header">
      <div class="p404__title"><i>4</i><i>0</i><i>4</i></div>
      <div class="p404__subtitle"><i>Н</i><i>и</i><i>ч</i><i>е</i><i>г</i><i>о</i><i> &nbsp; </i><i>н</i><i>е</i><i>т</i></div>
      <!-- <i> + ("Ничего нет".split('').join('</i><i>')) + '</i>' -->
    </div>
    <div class="p404__content">
      <p>То, что ты хотел найти, куда-то потерялось</p>

      <div class="p404__buttons">
        <a routerLink="/" class="p404__button" target="_self">Удивиться и уйти на главную</a>
      </div>
    </div>
  </div>
</div>
