<div class="home">
  <div class="home__content">
    <div class="home__titles">
      <h1 class="home__title">Опросник по стеку технологий для веб-разработчика</h1>
      <span class="home__subtitle">для неформальной оценки личного профессионального роста</span>
    </div>

    <div class="home__loader">
      <div class="home__loader_bar home__loader_bar_1">
        <div class="home__loader_meter home__loader_meter_1"
             [style.width]="loader_bar1_width + '%'"
             [style.backgroundColor]="loader_bar1_fill"></div>
      </div>
      <div class="home__loader_bar home__loader_bar_2">
        <div class="home__loader_meter home__loader_meter_2"
             [style.width]="loader_bar2_width + '%'"
             [style.backgroundColor]="loader_bar2_fill"></div>
      </div>
      <div class="home__loader_bar home__loader_bar_3">
        <div class="home__loader_meter home__loader_meter_3"
             [style.width]="loader_bar3_width + '%'"
             [style.backgroundColor]="loader_bar3_fill"></div>
      </div>
    </div>
  </div>
</div>
