<div class="topics narrow page">
  <div class="topics__container">

    <div class="topics__titles">
      <h1 class="topics__title">Опросник по стеку технологий для веб-разработчика</h1>
      <span class="topics__subtitle">для неформальной оценки личного профессионального роста</span>
    </div>

    <div class="topics__share">
      <share-buttons
        [include]="['copy','facebook','twitter','google','vk']"
        [show]="5"
        [showIcon]="true"
        [showText]="true"
        url="http://skillsgauge.uptlo.com/"
      ></share-buttons>
    </div>

    <div  class="topics__header">
      <h1 class="topics__title_main" *ngIf="!loaded">Загрузка...</h1>
      <h1 class="topics__title_main" *ngIf="loaded">Выбери разделы:</h1>
    </div>
    <div *ngIf="loaded" class="topics__content">
      <div class="topics__list_container">
        <ul class="topics__list">
          <li
            appTopicsListItem
            class="topics__topic"
            *ngFor="let t of topics"
            [topic]="t"
            [answers]="topicAnswers(t)"
            [editable]="isOwnTopic(t)"></li>
        </ul>
      </div>
    </div>

    <div class="topics__header"
         *ngIf="loaded">
      <h1 class="topics__title_main">Мои разделы:
        <div
          class="topics__title_main__link"
          *ngIf="user"
          (click)="createOwnTopic()"><img class="icon" src="/assets/img/icons/topic-add.svg">
            {{ ownTopics.length > 0 ? 'Добавить раздел' : 'Создать раздел' }}</div>
      </h1>
    </div>
    <div class="topics__content"
         *ngIf="loaded">
      <div class="topics__list_container">
        <ul class="topics__list">
          <li
            appTopicsListItem
            class="topics__topic"
            *ngFor="let t of ownTopics"
            [topic]="t"
            [answers]="topicAnswers(t)"
            [editable]="isOwnTopic(t)"></li>
        </ul>
        <div class="topics__list__promo" *ngIf="user && ownTopics.length < 4" (click)="createOwnTopic()">
          <ul>
            <li>Ты можешь создавать свои разделы опросника по другим темам</li>
            <li>А также ты можешь сделать копию чужого раздела, чтобы дополнить или исправить</li>
            <!--<li>Ты можешь поделиться своим разделом с другими пользователями и посмотреть статистику его заполнения</li>-->
          </ul>
          <div class="topics__list__promo_links">
            <div class="topics__list__promo_link"
              *ngIf="user" (click)="createOwnTopic()"><img class="icon" src="/assets/img/icons/topic-add.svg">
                {{ ownTopics.length > 0 ? 'Добавить раздел' : 'Создать раздел' }}</div>
          </div>
        </div>
      </div>
    </div>

    <div  class="topics__header"
          *ngIf="loaded && recommendedTopics.length > 0">
      <h1 class="topics__title_main">Рекомендуемые разделы</h1>
    </div>
    <div *ngIf="loaded && recommendedTopics.length > 0"
         class="topics__content">
      <div class="topics__list_container">
        <ul class="topics__list">
          <li
            appTopicsListItem
            class="topics__topic"
            *ngFor="let t of recommendedTopics"
            [topic]="t"
            [answers]="topicAnswers(t)"
            [editable]="isOwnTopic(t)"></li>
        </ul>
      </div>
    </div>

    <a class="topics__button"
       (click)="gotoFirstIncomplete()"
       [ngClass]='{ "topics__button_active": hasSelectedTopic }'>Начать тестирование</a>
    </div>
</div>
