<div class="intro">
  <div class="intro__content">
    <div class="intro__titles">
      <h1 class="intro__title">Опросник по стеку технологий для веб-разработчика</h1>
      <span class="intro__subtitle">для неформальной оценки личного профессионального роста</span>
    </div>

    <div class="intro__cards">
      <div class="intro__duplet">
        <div class="intro__card">
          <div class="intro__card_icon">
            <img class="icon running-rabbit" src="/assets/img/icons/fast-filling.svg" width="70" height="72">
          </div>
          <h2 class="intro__card_title">Быстро</h2>
          <span class="intro__card_subtitle">Быстрая оценка текущего уровня знаний</span>
        </div>
        <div class="intro__card">
          <div class="intro__card_icon">
            <img class="icon bullish" src="/assets/img/icons/skill-grow.svg" width="80" height="72">
          </div>
          <h2 class="intro__card_title">Наглядно</h2>
          <span class="intro__card_subtitle">Графики личного профессионального роста</span>
        </div>
      </div>
      <div class="intro__duplet">
        <div class="intro__card">
          <div class="intro__card_icon">
            <img class="icon checklist" src="/assets/img/icons/easy-checklist.svg" width="76" height="72">
          </div>
          <h2 class="intro__card_title">Просто</h2>
          <span class="intro__card_subtitle">Ни одного конкретного вопроса</span>
        </div>
        <div class="intro__card">
          <div class="intro__card_icon">
            <img class="icon combo-chart" src="/assets/img/icons/widget.svg" width="76" height="72">
          </div>
          <h2 class="intro__card_title">Полезно</h2>
          <span class="intro__card_subtitle">Генераторы виджетов для портфолио</span>
        </div>
      </div>
      <div class="intro__duplet">
        <div class="intro__card">
          <div class="intro__card_icon">
            <img class="icon tear-off-calendar" src="/assets/img/icons/schedule.svg" width="72" height="74">
          </div>
          <h2 class="intro__card_title">Регулярно</h2>
          <span class="intro__card_subtitle">Регулярная повторная оценка знаний</span>
        </div>
        <div class="intro__card">
          <div class="intro__card_icon">
            <img class="icon light-on" src="/assets/img/icons/ideas-recomendations.svg" width="70" height="auto">
          </div>
          <h2 class="intro__card_title">Эффективно</h2>
          <span class="intro__card_subtitle">Рекомендации по эффективному повышению уровня знаний</span>
        </div>
      </div>
    </div>
    <a class="intro__button" routerLink="/topics">Начать тестирование</a>
    </div>
</div>
