@import "../../../scss/mixins/opacity";
$background : #2b2b3d;
$text-color : #96a686;

.intro {

  &__content {
    padding-bottom: 80px;
  }

  &__titles {
    background: $background;
    @include opacity(0.9);
  }

  &__title {
    text-align: center;
    color: $text-color;
    font-size: 30px;
    line-height: 30px;
    padding: 18px;
    margin: 0;
  }

  &__subtitle {
    display: block;
    text-align: center;

    color: $text-color;
    @include opacity(0.5);
    font-size: 18px;
    line-height: 28px;

    padding: 0 10px;
  }

  &__share {
    text-align: center;
    margin-bottom: 80px;
  }

  &__cards {
    width: 800px;
    margin: auto;
    padding: 0 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__card {
    width: 220px;
    min-height: 200px;
    padding: 0 10px;
    text-align: center;

    &_title {
      color: #BDBDC0;
      margin-top: 28px;
      margin-bottom: 10px;
    }

    &_subtitle {
      color: #616278;

      font-size: 14px;
      line-height: 18px;
    }

    &_icon {
      display: inline-block;
      vertical-align: top;
      min-height: 76px;

      .icon {
        height: auto;
      }
    }
  }

  &__button {
    cursor: pointer;
    display: block;
    outline: 0;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    font-size: 1.5em;
    line-height: 3em;

    background: #c5415f;
    text-decoration: none;
    @include opacity(0.9);
    text-align: center;
    color: #edc6cf;

    height: 3em;

    &:hover {
      @include opacity(1);
    }

    &:focus {
      @include opacity(1);
    }
  }
}

@media (max-width: 480px) {

  .intro {

    &__content {
      padding-top: 140px;
    }

    &__titles {
      position: fixed;
      top: 0;
    }

    &__title {
      font-size: 20px;
      line-height: 1.1;
      padding: 10px;
    }

    &__subtitle {
      font-size: 16px;
      line-height: 1.1;
      margin-bottom: 20px;
    }

    &__duplet {
      display: inline-block;
      width: 100vw;
      margin: auto 0;
    }

    &__card {
      margin: 0 auto;
      &_title {
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 640px) and (min-width: 481px) {

  .intro {
    &__cards {
      width: 480px;
    }
    &__duplet {
      width: 480px;
      height: auto;
      margin: 0 auto 20px;
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (max-width: 960px) and (min-width: 641px) {
  .intro {
    &__cards {
      width: 560px;
      flex-direction: column;
    }
    &__duplet {
      width: 560px;
      height: auto;
      margin: 0 auto 20px;
      display: flex;
      justify-content: space-between;
    }
  }
}

