@import "../../../scss/mixins/clearfix";
@import "../../../scss/mixins/opacity";
@import "../../../scss/variables";

$background : #2b2b3d;
$text-color : #96a686;
$checked-color: #2196f3;
$unchecked-color: #c5415e;

.topics {

  &__container {
    padding: 0 20px;
  }

  &__content {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  &__titles {
    background: $background;
    @include opacity(0.9);
  }

  &__title {
    text-align: center;
    color: $text-color;
    font-size: 30px;
    line-height: 30px;
    padding: 18px;
    margin: 0;
  }

  &__subtitle {
    display: block;
    text-align: center;

    color: $text-color;
    @include opacity(0.5);
    font-size: 18px;
    line-height: 28px;

    padding: 0 10px;
  }

  &__share {
    text-align: center;
    margin-bottom: 40px;
  }


  &__list_container { }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__topic {
    cursor: pointer;
    display: block;
    margin: 30px 0;
    color: $text-color;
  }

  &__title_main {
    margin: 0;
    padding-top: 20px;
    color: $text-color;
    font-size: 30px;
    line-height: 30px;
  }

  &__button {
    display: block;
    outline: 0;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    font-size: 25px;
    line-height: 70px;

    background: #c5415f;
    text-decoration: none;
    @include opacity(0.9);
    text-align: center;
    color: #edc6cf;

    height: 70px;

    transform: translateY(70px);;
    -webkit-transform: translateY(70px);
    transition: all 0.2s ease-out;

    &:hover {
      @include opacity(1);
    }

    &:focus {
      @include opacity(1);
    }

    &_active {
      transform: translateY(0);
      -webkit-transform: translateY(0);
    }
  }
}

