<!--
<header ng-show="sidebarVisible()"></header>
-->
<!--
<sidebar ng-show="sidebarVisible()"></sidebar>
-->

<div class="dashboard">
  <div class="dashboard__container">
    <div class="dashboard__content">

      <h1 class="dashboard__title">Результаты тестирования:</h1>

      <div class="dashboard__row">
        <h2 class="dashboard__skillbars-title">
          Разделов: {{ selectedTopics.length }}&nbsp;
          <!-- <ng-pluralize count="selectedTopics().length" when="{'one':'раздел','few':'раздела','many':'разделов','other':'раздела','0':'Разделы не выбраны'}"></ng-pluralize> -->
        </h2>
        <div class="dashboard__skillbars">
          <div class="skillbar" *ngFor="let topic of selectedTopics ">
            <div class="skillbar-bar" [style.width]="(percentageAnim[topic.key] || 0) + '%'">
              <a class="skillbar-title" routerLink="/topic/{{topic.key}}">{{ topic.title }}</a>
            </div>
            <a class="skillbar-title skillbar-title-short"
               routerLink="/topic/{{topic.key}}">{{ topic.titleShort || topic.title || 'Раздел без названия' }}</a>
            <div class="skillbar-percent">{{ topicPercentage(topic) }}%</div>
          </div>
        </div>
      </div>

      <div class="dashboard__row dashboard__row-top">
        <div class="dashboard__certificate">
          <img src="/assets/img/certificate.svg"/>
        </div>
        <div class="dashboard__row-top__title">
          <h2 class="dashboard__overall_progress_title">{{ score }} из {{ maximumScore }}<br>баллов</h2>
          <div class="dashboard__skillbars">
            <div class="skillbar">
              <div class="skillbar-bar" [style.width]="percentageAnim['TOTAL'] + '%'"> </div>
              <span class="skillbar-title skillbar-title-short">Общий прогресс</span>
              <div class="skillbar-percent">{{ percentage }}%</div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="user && ownTopics.length < 4" (click)="createOwnTopic()">
        <h3>Свои разделы в опроснике</h3>
        <ul>
          <li>Ты можешь создавать свои разделы опросника по другим темам</li>
          <li>А также ты можешь сделать копию чужого раздела, чтобы дополнить или исправить</li>
          <li><em>TODO Ты cможешь поделиться своим разделом с другими пользователями и посмотреть статистику его заполнения</em></li>
        </ul>
        <div class="text-center">
          <div class="btn btn-primary btn-icon"
               *ngIf="user" (click)="createOwnTopic()"><img class="icon" src="/assets/img/icons/topic-add.svg">
            {{ ownTopics.length > 0 ? 'Добавить раздел' : 'Создать раздел' }}</div>
        </div>
      </div>

    </div>
  </div>
</div>
